body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header {
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
    padding: 0 128px;
    align-items: center;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 40px;
}

.intro {
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
    padding: 0 128px;
}

.title {
    display: flex;
    flex-direction: column;
}


.big-text,
.med-text,
.small-text {
    color: #E5E7EB;
}

.big-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;    
}

.icon {
    width: 300px;
    height: auto;
}